

/* Seccion de Busqueda */

.search-section {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background-color: #1E213A;
    top: 0;
    right: 400px;
    display: flex;
    flex-flow: column wrap;
    transition: all 0.3s ease;
}

.search-section i {
    align-self: end;
    color: #E7E7EB;
    font-size:25px;
    padding: 20px;
    width: 30px;
}

.search-section form {
    display: flex;
    justify-content: center;
    width: 100%;
}


#search {
    border-style: none;
    width: 65%;
    font-size:20px;
    border-radius: 10px 0px 0px 10px;
}

.input-search {
    border-style: none;
    width: 25%;
    padding:16px;
    font-size:20px;
    background-color: #3C47E9;
    color: #E7E7EB;
    border-radius: 0px 10px 10px 0px;
}
